<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Cat or not?</title>
</head>
<body>
    <h1>Congrats it's a cat</h1>

<!--    &lt;!&ndash; Create a button that redirects to the /another_route route &ndash;&gt;-->
<!--    <form action="{{ url_for('another_route') }}" method="get">-->
<!--        <button type="submit">Go to Another Route</button>-->
<!--    </form>-->
    <div class="center_gif">
        <img src="https://media1.giphy.com/media/BXjqytvu9bKzCUHdzz/200w.webp?cid=ecf05e47aivesjp9eld7qauu2axx9zfjkjzyy7ew1ug3845h&ep=v1_stickers_search&rid=200w.webp&ct=s">
    </div>



</body>
</html>